.ui.menu .item>img:not(.ui) {
    display: inline-block;
    vertical-align: middle;
    margin: -.3em 0;
     width: auto; 
    height: 30px;
}

.big-width{
    width: 100% !important;
}

.error > ::-webkit-input-placeholder {
    color: #e40101 !important;    
}

#wiki-edit{
    overflow: auto;
}

.ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
    position: relative;
    padding-left: 3.47142857em!important;
}
.secondary-bg{
    background-color: #f9fafb !important;
}

@media only screen and (min-width: 1200px){
    .ui.grid.container {
        width: calc(1227px + 2rem)!important;
    }
}

.inline.fields .field>.selection.dropdown {
    width: 100% !important;
}

.positive-text{
    color: #21BA45;
}

.negative-text{
    color: #DB2828;
}

.longer{
    width: 500px !important;
}
.pad-left{
    margin-left: 13px !important;

}

